/* ================= MOBILE FIX ONLY ================= */
@media (max-width: 768px){

    .home-box,
    .project-box {
        width: 92% !important;
        margin: auto;
    }
}
    html, body {
    overflow-x: hidden;
}

    /* 🔥 KURANGI PADDING BIAR NAFAS */
    .home-box{
        padding: 30px 20px !important;
    }

    .project-box{
        padding: 25px 15px !important;
    }

    /* 🔥 NAVBAR BIAR GAK SUMPEK */
    .menu{
        display: none !important;
    }

    nav{
        padding: 10px 15px;
    }

    /* 🔥 HERO */
    .hero h1{
        font-size: 28px !important;
    }

    .desc{
        font-size: 14px;
    }

    /* 🔥 ABOUT JADI STACK */
    .about-container{
        grid-template-columns: 1fr !important;
        text-align: center;
        gap: 20px;
    }

    .about-img img{
        max-width: 200px;
        margin: auto;
    }

    /* 🔥 SKILL JADI 1 KOLOM */
    .skills-container{
        grid-template-columns: 1fr !important;
    }

    /* 🔥 PROJECT SLIDE ENAK */
    .card{
    min-width: 220px;
    scroll-snap-align: start;
}
    .card img{
    width: 100%;
    height: auto; /* 🔥 ini penting */
    object-fit: contain; /* biar gak kepotong */
}

    /* 🔥 CONTACT */
    .contact-container{
        grid-template-columns: 1fr !important;
    }

    .input-box{
        flex-direction: column;
    }
.slide-track{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}